FlightWebServices/Service References/ServiceReferenceFightManager/InsertSale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaleRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parSeat" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parTravel" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parCustomer" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaleRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaleRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SaleRequest" />
  </wsdl:message>
  <wsdl:message name="SaleRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SaleRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="InsertSaleSoap">
    <wsdl:operation name="SaleRequest">
      <wsdl:input message="tns:SaleRequestSoapIn" />
      <wsdl:output message="tns:SaleRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertSaleSoap" type="tns:InsertSaleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleRequest">
      <soap:operation soapAction="http://tempuri.org/SaleRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsertSaleSoap12" type="tns:InsertSaleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaleRequest">
      <soap12:operation soapAction="http://tempuri.org/SaleRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertSale">
    <wsdl:port name="InsertSaleSoap" binding="tns:InsertSaleSoap">
      <soap:address location="http://localhost:7571/InsertSale.asmx" />
    </wsdl:port>
    <wsdl:port name="InsertSaleSoap12" binding="tns:InsertSaleSoap12">
      <soap12:address location="http://localhost:7571/InsertSale.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>